.landing {
  min-height: calc(100vh - (120px + 15vh));
  padding-top: 15vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.landing__title {
  font-size: 80px;
  color: #35323e;
}

.landing__description {
  font-size: 25px;
  color: #9e9aa7;
  max-width: 650px;
  margin-bottom: 40px;
}

.landing__button {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  border: 2px solid transparent;
  font-size: 18px;
  background: #2acfcf;
  color: #ffffff;
  cursor: pointer;
}

.landing__button:hover {
  background: #8feded;
}

.landing__left,
.landing__right {
  float: left;
  width: 50%;
}

.landing__illustration {
  max-width: 100%;
}

@media (max-width: 1200px) {
  .landing__title {
    font-size: 48px;
  }

  .landing__description {
    font-size: 21px;
  }
}

@media (max-width: 820px) {
  .landing {
    padding-top: 0;
  }

  .landing__title {
    font-size: 32px;
    text-align: center;
  }

  .landing__description {
    font-size: 18px;
    text-align: center;
  }

  .landing__left,
  .landing__right {
    width: 100%;
  }

  .landing__left {
    order: 2;
    padding-bottom: 150px;
    text-align: center;
  }

  .landing__right {
    order: -1;
    flex: 1 0 100%;
    margin-bottom: 40px;
  }
}
